<section class="row">
    <article class="column">
        <h3>Équipe</h3>
        <ul>
            <li><a href="#">Bart Alan</a></li>
            <li><a href="#">Kaça Kester</a></li>
            <li><a href="#">Leclercq Yanis</a></li>
        </ul>
    </article>
    <article class="column">
        <h3>Contact</h3>
        <ul>
            <li><a href="#">ECV Digital Paris</a></li>
            <li><a href="mailto:info-paris@ecvdigital.fr">info-paris@ecvdigital.f</a></li>
            <li><a href="tel:0185082686">01 85 08 26 86</a></li>
        </ul>
    </article>
    <article class="column">
        <h3>Mention légales</h3>
        <ul>
            <li><a href="#">Mention légales</a></li>
            <li><a href="#">Confidentialité</a></li>
            <li><a href="#">Cookies</a></li>
        </ul>
    </article>
    <article class="column">
        <h3>Aides</h3>
        <ul>
            <li><a href="#">Centre d'aide</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Plan du site</a></li>
        </ul>
    </article>
    <article id="download" class="column">
        <h3>Télécharger l'application</h3>
        <ul class="row">
            <a href="">
                <img src="img/dl-app.png" alt="">
            </a>
            <a href="">
                <img src="img/dl-android.png" alt="">
            </a>
        </ul>
    </article>
</section>
<ul class="ctn-social">
    <a href=""><i class="fab fa-facebook-f"></i></a>
    <a href=""><i class="fab fa-twitter"></i></a>
    <a href=""><i class="fab fa-instagram"></i></a>
</ul>
<p class="copyright">Team "Représente" © 2021</p>
</div>