<nav id="nav" class="marge">
    <a class="ctn-logo" href="index.php">
        <img src="img/logo.png" alt="Logo Deliveroo">
        <span class="logo-title logo-color">Deliveroo</span>
    </a>
    <section class="nav__form">
        <form action="">
            <input id="input__search" type="search" name="search" placeholder="Plats, restaurants ou types de cuisine">
            <label for="input__search" class="">
                <img src="img/search.png" alt="">
            </label>
        </form>
    </section>
    <ul class="nav-list">
        <a id="login1" class="border" href=""><i class="fas fa-home"></i>Inscription/Connexion</a>
        <button id="menu-show" class="border"><i class="fas fa-bars"></i>Menu</button>
    </ul>
</nav>