<section id="nav-toggle">
    <header class="nav-toggle__header">
        <a href="index.html">
            <img src="img/logo-deliveroo.png" alt="">
        </a>
        <i id="menu-close" class="fas fa-times"></i>
    </header>
    <section class="nav-toggle__content">
        <a class="border btn-full" href="">Inscription/Connexion</a>
        <ul class="nav-toggle__list">
            <li><a id="cart" href="">Panier</a></li>
            <li><a id="store" href="">Magasin</a></li>
            <li><a id="faq" href="">FAQ</a></li>
        </ul>
    </section>
</section>